<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p id = "welc">Welcome to <%= title %></p>
    <div  id = "hh">hello</div>
    <button id = "btn">click</button>

    <script>
      $("#btn").bind("click",function() {
        $.ajax({
          url: "/data",
      //    dataType: "text",
        //  data: {hh: $("#hh").val()},
          success: function(data){
            alert("发送请求成功");
        //   $("#welc").html(data);
          }
        })
      })
    </script>
  </body>
</html>
